<a href="https://colab.research.google.com/github/GorRatsy/my-first-ex/blob/main/about_sber_14.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import pandas as pd
import numpy as np

sber_data = pd.read_csv('https://lms.skillfactory.ru/assets/courseware/v1/fbb2e41c55afd1333f7f87e91e904e9f/asset-v1:SkillFactory+DSPR-2.0+14JULY2021+type@asset+block/sber_data.zip', compression='zip', sep = ',')

In [12]:
display(sber_data[sber_data['life_sq']>1000])

          id  full_sq  life_sq  ...  ecology mosque_count_1000  price_doc
13546  13549       79   7478.0  ...  no data                 0    7705000

[1 rows x 61 columns]